#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* true black base */
  overflow-x: hidden;
}



html, body {
  width: 100%;
  overflow-x: hidden;
}
